.box {
  width: 120px;
  height: 120px;
  background: #f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 4px;
  border-radius: 6px;
}

#box1 {
  background-color: rgb(0, 255, 42);
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}
#box2 {
  background-color: rgb(0, 47, 255);
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

.text {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  opacity: 0;
  margin: 10px 0;
  color: #065f7a;
  color: teal;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  gap: 1rem;
  font-size: 0rem;
  color: #515;
}
.menu div {
  font-size: 1.2rem;
}

/* ------------------------------------------------------------------- */

.header {
  padding: 3rem;
  display: flex;
  justify-content: center;
  height: 50rem;
  background-color: blueviolet;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60rem;
  background-color: brown;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45rem;
  background-color: cadetblue;
}

.nav {
  width: 400px;
  height: 50px;
  background-color: black;
}

.main div {
  width: 400px;
  height: 400px;
  background-color: chocolate;
}
.footer div {
  width: 400px;
  height: 400px;
  background-color: blueviolet;
}
